@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    margin: 0px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-title {
    color: #131318;
    font-weight: 800;
    font-size: 2.3rem;
    margin-left: 16px;
}

.nav-items a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #424247;
    margin-left: 40px;
}