@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    margin: 0px auto;
    max-width: 1200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-title {
    color: #131318;
    font-weight: 800;
    font-size: 2.3rem;
    margin-left: 16px;
}

span {
    color: #FF5400;
}

.nav-items a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #424247;
    margin-left: 40px;
}

/* bannaer section styles */

.banner-section {
    background-image: url('Images/Group\ 13\ .png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1200px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-transform: capitalize;
}

.banner-paragraph {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
}

.banner-inputs {
    background-color: #424247a2;
    border-radius: 8px;
    padding: 40px;
}

.banner-inputs input[type="text"] {
    border: none;
    padding: 16px;
    color: white;
    border-radius: 8px;
    margin-right: 20px;
}

.btn {
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 40px;
    border: none;
    color: white;
    cursor: pointer;
}

/* popular tour section */

.popular-tour-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0px;
}

.heading {
    font-size: 2.2rem;
    text-transform: capitalize;
    font-weight: bold;
}

.paragraph,
ul li {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    line-height: 26px;
}

.popular-tour-section img {
    margin-left: 50px;
    width: 100%;
}


/* choose section */

.choose-content {
    text-align: center;
    margin-bottom: 50px;
}

.choose-cards {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 24px;
}

.card {
    border: 1px solid rgba(41, 206, 246, 0.20);
    padding: 30px;
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
}

.card-title {
    color: #131318;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: capitalize;
}

.last-card {
    margin: 0px auto 100px;
    width: 50%;
}

.map-bg {
    background: rgba(41, 206, 246, 0.05);
}

/* newsletter section */

.newsletter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.form-hr {
    width: 100%;
    margin-bottom: 20px;
}

.news-card img {
    width: 60%;
}

.news-img {
    position: relative
}

.form {
    width: 50%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
    margin-right: 20px;
}

.subscribe {
    width: 100%;
    font-weight: bold;
}

.form-inputs input {
    padding: 16px;
    display: block;
    margin-bottom: 16px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 93%;
}

.discount-card {
    border-radius: 16px;
    background: #FF5400;
    padding: 16px;
    width: 40%;
    text-align: center;
    color: white;
    margin-left: 55%;
    transform: rotate(-19.628deg);
    position: absolute;
    bottom: 50px;
    right: 10px;
}

.discount-card h1,
.discount-card h3 {
    margin: 10px 0px;
}

/* footer section */
footer {
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    padding-top: 110px;
    padding-bottom: 110px;
}

.footer-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-icons {
    margin-top: 30px;
    margin-bottom: 50px;
}

.f-icons img {
    margin: 0px 10px;
    cursor: pointer;
}

hr {
    width: 80%;
    margin-bottom: 100px;
}

@media screen and (max-width:600px) {}